doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 系统
    link(rel='stylesheet', href='/layui/css/layui.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body.layui-layout-body
    #LAY_app.layadmin-tabspage-none
      .layui-layout.layui-layout-admin
        .layui-header
          ul.layui-nav.layui-layout-left
            li.layui-nav-item.layui-hide-xs
              input.layui-input.layui-input-search#search-box(type='text', placeholder='搜索...', autocomplete='off')
          ul.layui-nav.layui-layout-right(lay-filter='layadmin-layout-right')
            li.layui-nav-item(lay-unselect='')
              a(lay-href='app/message/', layadmin-event='message')
                i.layui-icon.layui-icon-notice
                // 如果有新消息，则显示小圆点
                script(type='text/html', template='', lay-url='./json/message/new.js').
                  {{# if(d.data.newmsg){ }}
                  <span class="layui-badge-dot"></span>
                  {{# } }}
                span.layui-badge-dot
            li.layui-nav-item.layui-hide-xs(lay-unselect='')
              a(href='javascript:;', layadmin-event='theme')
                i.layui-icon.layui-icon-theme
            li.layui-nav-item.layui-hide-xs(lay-unselect='')
              a(href='javascript:;', layadmin-event='note')
                i.layui-icon.layui-icon-note
            li.layui-nav-item.layui-hide-xs(lay-unselect='')
              a(href='javascript:;', layadmin-event='fullscreen')
                i.layui-icon.layui-icon-screen-full
            li.layui-nav-item(lay-unselect='')
              script(type='text/html', template='', lay-url='./json/user/session.js', lay-done="layui.element.render('nav', 'layadmin-layout-right');").
                <a href="javascript:;">
                <cite>{{ d.data.username }}</cite>
                </a>
                <dl class="layui-nav-child">
                <dd><a lay-href="set/user/info">基本资料</a></dd>
                <dd><a lay-href="set/user/password">修改密码</a></dd>
                <hr>
                <dd layadmin-event="logout" style="text-align: center;"><a>退出</a></dd>
                </dl>
              a(href='javascript:;')
                cite 王志国 参谋
                span.layui-nav-more
              dl.layui-nav-child.layui-anim.layui-anim-upbit
                dd
                  a(lay-href='set/user/info') 基本资料
                dd
                  a(lay-href='set/user/password') 修改密码
                hr
                dd(layadmin-event='logout', style='text-align: center;')
                  a 退出
            li.layui-nav-item.layui-hide-xs(lay-unselect='')
              a(href='javascript:;', layadmin-event='about')
                i.layui-icon.layui-icon-more-vertical
            li.layui-nav-item.layui-show-xs-inline-block.layui-hide-sm(lay-unselect='')
              a(href='javascript:;', layadmin-event='more')
                i.layui-icon.layui-icon-more-vertical
        .layui-side.layui-side-menu
          .layui-side-scroll
            .layui-logo 文章管理系统
            ul#LAY-system-side-menu.layui-nav.layui-nav-tree
              li.layui-nav-item.layui-nav-itemed.layui-this
                a.units(href='javascript:;')
                  i.layui-icon.layui-icon-auz
                  cite 全部
              each v,i in units
                li.layui-nav-item
                  a(href='javascript:;')
                    i.layui-icon.layui-icon-home
                    cite= v.name
                    span.layui-nav-more
                  dl.layui-nav-child
                    each w,j in v.units
                      dd
                        a.units(href='javascript:;')= w.name
        .layui-body
          .layui-card.layadmin-header
            .layui-breadcrumb(lay-filter='breadcrumb', style='visibility: visible;')
              a(lay-href='') 主页
              span(lay-separator='') /
              a
                cite 用户
              span(lay-separator='') /
              a
                cite 后台管理员
          .layui-fluid
            .layui-card
              table#test.layui-hide(lay-filter='test')
                script#toolbarDemo(type='text/html').
                  <div class="layui-btn-container">
                  <button class="layui-btn layui-btn-sm" lay-event="getCheckData">获取选中行数据</button>
                  <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
                  <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
                  </div>
                script#barDemo(type='text/html').
                  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
                  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    script(src='/layui/layui.js')
    script(src='/javascripts/jquery.min.js')
    script.
      layui.use('element', function(){
        var element = layui.element;
      });
      layui.use('table', function(){
        var table = layui.table;
        table.render({
          elem: '#test'
          ,id: 'idTest'
          ,url: '/index/list'
          ,height:'full-130'
          ,toolbar: '#toolbarDemo'
          ,title: '用户数据表'
          ,page: {
            limit: 5,
            curr: 1
          }
          ,cols: [[
            {type: 'checkbox', fixed: 'left'}
            ,{field:'_id', title:'ID', fixed: 'left', unresize: true, sort: true}
            ,{field:'original_source_name', title:'来源'}
            ,{field:'title', title:'标题', }
            ,{field:'author', title:'作者'}
            ,{field:'publish_time', title:'发布时间'}
            ,{field:'url', title:'URL', templet: function(res){
              return '<a target="_blank" href="'+ res.url +'">'+ res.url+'</a>'
            }}
            ,{fixed: 'right', title:'操作', toolbar: '#barDemo'}
          ]]
        });
        //头工具栏事件
        table.on('toolbar(test)', function(obj){
          var checkStatus = table.checkStatus(obj.config.id);
          switch(obj.event){
            case 'getCheckData':
              var data = checkStatus.data;
              layer.alert(JSON.stringify(data));
            break;
            case 'getCheckLength':
              var data = checkStatus.data;
              layer.msg('选中了：'+ data.length + ' 个');
            break;
            case 'isAll':
              layer.msg(checkStatus.isAll ? '全选': '未全选');
            break;
          };
        });
        $('.units').on('click',function(){
          table.reload('idTest',{
            url: '/index/list?q='+$(this).text()
          });
        })
        $('#search-box').keydown(function(e){
          if(e.keyCode == 13){
              //模拟点击登陆按钮，触发上面的 Click 事件
              table.reload('idTest',{
                url: '/index/list?q='+$(this).val()
              });
          }
        });
        //监听行工具事件
        table.on('tool(test)', function(obj){
          var data = obj.data;
          //console.log(obj)
          if(obj.event === 'del'){
            layer.confirm('真的删除行么', function(index){
              obj.del();
              layer.close(index);
            });
          } else if(obj.event === 'edit'){
            layer.open({
              type: 2,
              area: ['800px', '650px'],
              fixed: true, //不固定
              maxmin: false,
              resize: false,
              content: '/editor?_id='+obj.data._id
            });
          }
        });
      });

    style.
      .layui-side-menu,.layadmin-pagetabs .layui-tab-title li:after,.layadmin-pagetabs .layui-tab-title li.layui-this:after,.layui-layer-admin .layui-layer-title,.layadmin-side-shrink .layui-side-menu .layui-nav>.layui-nav-item>.layui-nav-child{background-color:#20222A !important;}.layui-nav-tree .layui-this,.layui-nav-tree .layui-this>a,.layui-nav-tree .layui-nav-child dd.layui-this,.layui-nav-tree .layui-nav-child dd.layui-this a{background-color:#009688 !important;}.layui-layout-admin .layui-logo{background-color:#20222A !important;}
