doctype html
html
  head
    meta(charset='utf-8')
  body(style="padding:0px;margin:0px;width:100%;")
    h3(style="font-family: '黑体';") tret
    h1(style="font-family: '黑体';text-align: center;") 大师傅地方
    h4(style="font-family: '仿宋';text-align: center;") dfgfd
    .content(style="font-family: '仿宋';text-align: justify;font-size:12pt")
        each val, index in new Array(6)
            p s是中文拼音中的声母。s 是拉丁字母中的第19个字母。s被广泛运用于各个领域，其代表含义均不相同。例如：在物理学中，S的意思为秒，它是计时单位；在化学中，表示硫（sulfur）的化学符号 ；在计算机中，是一种统计编程语言；在S.H.E中为Sels是中文拼音中的声母。s 是拉丁字母中的第19个字母。s被广泛运用于各个领域，其代表含义均不相同。例如：在物理学中，S的意思为秒，它是计时单位；在化学中，表示硫（sulfur）的化学符号 ；在计算机中，是一种统计编程语言；在S.H.E中为Sel
        img(src="/images/timg.jpg", alt="", srcset="", style="width:100%")
        